@namespace CommonLibraryP.MapPKG

@using Blazor.Diagrams.Components.Renderers;

<style>
    .test {
        outline: 1px solid black;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>

<div class="test" style="@($"width:{Node.MapComponent.Width}px; height:{Node.MapComponent.Height}px")">


    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" />
    }

</div>

@code {
    [Parameter]
    public MapDiagramNode Node { get; set; } = null!;
}
